<!DOCTYPE html5>

<html>
  <head>
    <script>
      window.onload = function () {
        var script = document.createElement("script");
        script.src = "../dist/@rymcu/tracing/umd/index.js";
        script.onload = function () {
          if (window.RYMCUTracing) {
            window.RYMCUTracing.run({
              dsn: "https://rymcu.com/tracing",
              appName: "rymcu_website",
              appCode: "rymcu_website",
              sdkID: "12bebce2-3194-45ff-93e7-02237385c3a4",
              debug: true,
              disablePV: false,
              disablePerformance: true,
              disableError: true,
              disableEvent: true,
            });
          }
        };
        document.head.appendChild(script);
      };
    </script>
  </head>

  <body></body>
</html>
