{
    "presets": [
      [
        "@babel/preset-env",
        {
          "useBuiltIns": "usage",
          "corejs": 3,
          "targets": {
            "browsers": [
              "last 50 Chrome versions",
              "not Chrome < 60",
              "last 50 Safari versions",
              "not Safari < 10.1",
              "last 50 iOS versions",
              "not iOS < 10.3",
              "last 50 Firefox versions",
              "not Firefox < 54",
              "last 50 Edge versions",
              "not Edge < 8"
            ]
          }
        }
      ]
    ]
  }
  